/* JavaFX CSS Style with -fx- prefix */

.unlocker .thumb {
    -fx-graphic: url("https://i.imgur.com/fzNHCcj.png");
    -fx-pref-height: 48;
    -fx-pref-width: 48;
} .unlocker .track {
    -fx-background-image: url("https://i.imgur.com/glOLKeg.png");
    -fx-pref-height: 48;
    -fx-pref-width: 328;
} .yaWcsearch {
    -fx-padding: 10, 20;
    -fx-border-radius: 20;
    -fx-border-color: #3c8558;
    -fx-border-width: 3;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 40;
    -fx-font-family: 'Dax-Bold';
    -fx-display-caret: true;
}
.yaWcbutton {
    -fx-background-radius: 100;
    -fx-background-color: rgba(237, 237, 237, 0.3);
}
.yaWcbutton:pressed {
    -fx-background-radius: 100;
    -fx-background-color: rgba(237, 237, 237, 1);
}
