/* JavaFX CSS Style with -fx- prefix */

.unlocker .thumb {
    -fx-graphic: url("https://i.imgur.com/fzNHCcj.png");
    -fx-pref-height: 48;
    -fx-pref-width: 48;
} .unlocker .track {
    -fx-background-image: url("https://i.imgur.com/glOLKeg.png");
    -fx-pref-height: 48;
    -fx-pref-width: 328;
}